<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Generator</title>
</head>
<body>
    <h1>Generate ASCII Art</h1>
    <form method="POST" action="/" target="_blank">
        <label for="inputText">Text</label><br>
        <input type="text" id="inputText" name="inputText" required><br><br>

        <label for="banner">Banner:</label><br>
        <select id="banner" name="banner" required>
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinkertoy</option>
        </select><br><br>

        <input type="submit" value="Generate">
    </form>

        {{if .Error}}
        <p style="color:red;">Error: {{.Error}}</p>
        {{end}}

        {{if .ASCIIArt}}
        <h2>Result:</h2>
        <pre>{{.ASCIIArt}}</pre>
        {{end}}

</body>
</html>
